node_modules
.dendron.*
build
seeds
pods/service-connections
ontology
sflo-dendron-notes
sflow-platform
test-ns
ns
.roo/mcp.json
.env
logs
.VSCodeCounter
repomix-output.xml

# Coverage files
coverage_profile/
coverage.lcov
*.lcov
coverage/
